numpy
pandas
pygame
gymnasium
pettingzoo
openai
anthropic
python-dotenv
matplotlib
jupyter
networkx
scipy
umap-learn
hdbscan
torch
Pillow
requests
scikit-learn
jinja2
tqdm
tiktoken
transformers
datasets
spacy
cdlib
zstandard
joblib
pydot
graphviz
mplcursors
